<app-navbar></app-navbar>
<div id="wrapper">
<app-sidebar></app-sidebar>
<div class="container-fluid">
    
    <div class="row pt-2 d-flex justify-content-between mb-5">
      <div class="col-md-12 mt-3"></div>

        <div class="col-md-12 mt-4"></div>
        <div class="col-md-6 mt-5">
                <h1>{{drive_name}}</h1>
        </div>
        <div class="col-sm-5 mt-5 d-flex justify-content-center">
          <b>Select Drive </b>
          <select class="form-select form-select-lg  " (change) = "abc($event)" aria-label=".form-select-lg example">
            <option disabled>Select the University</option>
            <option [selected]="drive_name == hiringDriveNameandId.drive_title ? true : false" [value]="hiringDriveNameandId.drive_id+'#'+ hiringDriveNameandId.drive_title" *ngFor="let hiringDriveNameandId of hiringDriveNamesAndId ">{{hiringDriveNameandId.drive_title}}</option>
         
          </select>
         
        </div>
        
</div>

<div class="row pt-3 d-flex justify-content-between  mb-5" >
    <div class="col-sm-3">
        <label>Select Drive Event:</label>
        <select class="form-select form-select-md "aria-label=".form-select-lg example" (change) = "changeEventDay($event)">
        
            <option [value]="eventDay.name + '#' +eventDay.date " *ngFor = "let eventDay of eventDays">{{eventDay.name}}</option>
         
          </select>
    </div>
    <div class="col-sm-2 pt-3">
        <button class="btn btn-danger mt-1 mx-1"  data-bs-toggle="modal" data-bs-target="#exampleModal"  >Distribute Candidate</button>
        <button class="btn btn-danger  mt-1 mx-1"  data-bs-toggle="modal" data-bs-target="#addPanelist" (click) ="getStaticData()">Add Panelist</button>
        <div class="modal fade" id="addPanelist" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Panelist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" click="clearData()"></button>
              </div>
              <form [formGroup] = "addPanelistForm" >
              <div class="modal-body">
 
                  <label>Current Selected Event:</label>
                  <input class="form-control" formControlName="interviewRound" >
                  <label>Panel Title:</label>
                  <select class="form-select" formControlName="panelTitle">
                   
                    <option [value] = "panel" *ngFor= " let panel of addPanelistData.panel_title">{{panel}}</option>

                  </select>
                  <label>Panel Description:</label>
                  <textarea class="form-control" formControlName = "panelDescription"></textarea>
                  <small class="text text-danger" *ngIf="addPanelistForm.get('panelDescription')?.invalid && (addPanelistForm.get('panelDescription')?.touched || addPanelistForm.get('panelDescription')?.dirty)">Please Enter a Description</small>
                  <p></p>

                  <label>Add Panelist</label>
                  <select class="form-select" (change)="addPanelist($event)">
                    <option value="Select">Select</option>
                    <option *ngFor= "let name of getPanelistNames; let a = index" >{{name.person_name}}</option>
                  </select>
                  <span class="text text-danger" *ngIf="panelistToPanel.length == 0">Please add a panelist</span>
                  <p>&nbsp;</p>
                  <span *ngFor= "let panelist of panelistToPanel">
                    <input class ="form-check-input" [value] = "panelist" type="checkbox" checked (click)= "removePanelist($event)">
                    <label class= "form-check-label">{{panelist}}&nbsp;</label>
                  </span>
                  <p>&nbsp;</p>

                  <label>Select Coordinator</label>
                  <select class="form-select" (change) = "addCoordinator($event)">
                    <option value="Select">Select</option>
                    <option *ngFor= "let userName of getUserNames">{{userName.name}}</option>
                  </select>
                  <span class="text text-danger" *ngIf="coordinatorToPanel.length == 0">Please add a coordinator</span>
                  <p>&nbsp;</p>

                  <span *ngFor = "let coordinator of coordinatorToPanel">
                    <input class ="form-check-input" [value] = "coordinator" type="checkbox" checked (click)= "removeCoordinator($event)">
                    <label class = "form-check-label">{{coordinator}}&nbsp;</label>

                  </span>
           
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click) = "clearData()">Close</button> 
                  <!-- Calll a function that empties coordinator and panelist array -->
                  <button type="button" class="btn btn-primary"   data-bs-dismiss="modal" [disabled] = "addPanelistForm.invalid || coordinatorToPanel.length == 0 || panelistToPanel.length == 0" (click) = "addPanelistToPanel()">Save changes</button>
              </div>
            </form>
            
            </div>
          </div>
        </div>
        <form [formGroup] = "distributeCandidateForm">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel"></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <label>Select Time: Hours & Minutes:</label>
                        </div>
                        <select  formControlName='hours' class="form-select" aria-label="Default select example">
                           
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>

                          </select>
                          <select formControlName='minutes' class="form-select" aria-label="Default select example">
                            
                             <option value="00">00</option>
                   
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                            <option value="32">32</option>
                            <option value="33">33</option>
                            <option value="34">34</option>
                            <option value="35">35</option>
                            <option value="36">36</option>
                            <option value="37">37</option>
                            <option value="38">38</option>
                            <option value="39">39</option>
                            <option value="40">40</option>
                            <option value="41">41</option>
                            <option value="42">42</option>
                            <option value="43">43</option>
                            <option value="44">44</option>
                            <option value="45">45</option>
                            <option value="46">46</option>
                            <option value="47">47</option>
                            <option value="48">48</option>
                            <option value="49">49</option>
                            <option value="50">50</option>
                            <option value="51">51</option>
                            <option value="52">52</option>
                            <option value="53">53</option>
                            <option value="54">54</option>
                            <option value="55">55</option>
                            <option value="56">56</option>
                            <option value="57">57</option>
                            <option value="58">58</option>
                            <option value="59">59</option>

                          </select>
                          <select formControlName='meridian' class="form-select" aria-label="Default select example">
                            <option value="AM" selected>AM</option>
                            <option value="PM">PM</option>
                          </select>
                        
                      </div>

                    <label>Interviews Per Panel</label>
                    <input placeholder="select hours" formControlName="panelist" type="number" min="1" max = "10" class="form-control">

                    <label>Break Time between Interviews in Minutes</label>
                    <input formControlName="breakInInterviews" type="number" min="1" max = "30" class="form-control">
                    <label>Lunch Break in Minutes</label>
                    <input formControlName="lunchBreakDuration" type="number" min="1" max = "60" class="form-control">
                
                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" [disabled] = "!distributeCandidateForm.valid" (click)="distributeCandidates()" data-bs-dismiss="modal" >Save changes</button>
                </div>
              </div>
            </div>
          </div>
        </form>

        
        <!-- Modal -->

    </div>
    <!-- <div class="col-md-3">
        <p class=" mx-5"><b>Date: 10/12/13</b></p>
    </div> -->
   
</div>
<!-- Ng FOR -->
<app-loader style="margin-left: 60%; margin-top: 400px;"  *ngIf="loading"
></app-loader>
<div class=" mt-4 py-2 mx-3" *ngIf="!loading" >
  <div class="accordion" id="accordionExample">
    <div class="accordion-item" *ngFor=" let interviewPanelist of interviewPanelistData; let i = index">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button collapsed" type="button" (click)="listCandidatesInPanel(interviewPanelist.panel_title+'#'+i)" data-bs-toggle="collapse"  [attr.data-bs-target]="'#abc'+ i" aria-expanded="false" aria-controls="collapseOne">
          <b>{{interviewPanelist.panel_title}}&nbsp;</b>
          <b>&nbsp;Panelist Name:&nbsp;</b>
          <b *ngFor="let panelistName of interviewPanelistData[i].panelist">&nbsp;{{panelistName}}&nbsp;</b>
          <b>&nbsp; Coordinator:&nbsp;</b>
          <b *ngFor = "let coordinator of interviewPanelistData[i].coordinator">&nbsp;{{coordinator}}</b>
        </button>
      </h2>
      <div [attr.id]="'abc'+i" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body" >
          <table class="table table-striped" >
            <thead>
              <tr >
                <th scope="col" text-align= "center">Slots</th>
                <th scope="col" text-align= "center">Candidate Name</th>
                <th scope="col" text-align= "center">Email</th>
                <th scope="col" text-align= "center">Phone Number</th>
                <th scope="col" text-align= "center">Feedback</th>
                <th scope="col" text-align= "center">Last Modified By & Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listCandidatesInPanelData of listCandidatesInPanelData[i]; let x = index">
                <td>{{listCandidatesInPanelData.interview_time}} 
                  <br>
                  {{listCandidatesInPanelData.interview_date}}
                </td>
                <td>{{listCandidatesInPanelData.candidate_name}}</td>
                <td>{{listCandidatesInPanelData.email}}</td>
                <td>{{listCandidatesInPanelData.phone_number}}</td>
                <td>{{listCandidatesInPanelData.feedback[0]}}
                  <i class="fa fa-plus-circle" data-bs-toggle="modal" [attr.data-bs-target]="'#a'+ i +''+ x" style="color: red;"></i>


                  <div class="modal fade" [attr.id]="'a'+ i +''+ x " tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> Feedback Form</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form [formGroup] = "candidateFeedback">
                        <div class="modal-body">
                          
                          <label>Select Status</label>
                          <select class="form-select form-select-md " aria-label=".form-select-lg example" (change) = "setSelectionStatus($event)">
                            <option selected value = "">Choose Status</option>
                            <option [value] = "listCandidatesInPanelData.email + '#' + 'selected' +'#'+interviewPanelist.panel_title" >Selected</option>
                            <option [value] = "listCandidatesInPanelData.email + '#' + 'rejected' +'#'+interviewPanelist.panel_title">Rejected</option>
                            </select>

                            <label for="exampleFormControlTextarea1">Feedback</label>
                            <textarea formControlName= "feedback" class="form-control" id="listCandidatesInPanelData.email" rows="3"></textarea>
                         


                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="setFeedback()" [disabled] = " candidateFeedback.invalid == true && submitFeedbackButtonDisabled ">Save changes</button>
                          
                        </div>
                      </form>
                      </div>
                    </div>
                  </div>


                </td>
              
                <td> {{listCandidatesInPanelData.updated_by}} <br>
                 {{listCandidatesInPanelData.updated_on}} 
                  <br>{{listCandidatesInPanelData.updated_at}}</td>
                
                
              </tr>
             
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    
  </div>
  
</div>
<!-- Ng FOR -->
<div class="row  mx-1 pt-5">

 <!-- Button trigger modal -->

  </div>


</div>
