<app-navbar></app-navbar>

<div class="container pt-5">
  <form class="pt-5" [formGroup] = "hiringDriveDetails">
 
    <h1>Create Hiring Drive</h1>
      <div class="form-group row ">
     
         
          <div class="col-md-4">
              <label class="col-form-label"><b>Hiring Drive Name</b></label>
              <input class="form-control " formControlName="hiringDriveName" > 
              <small class="text-danger" *ngIf="hiringDriveDetails.get('hiringDriveName')?.invalid && (hiringDriveDetails.get('hiringDriveName')?.touched || hiringDriveDetails.get('hiringDriveName')?.dirty) ">Please enter the hiring drive name</small>

          </div>
          </div>
          <div class="form-group row">
          <div class="col-md-4">
            <label class="col-form-label"><b>Description</b></label>
            <textarea class="form-control" formControlName="hiringDriveDescription" ></textarea>
            <small class="text-danger" *ngIf="hiringDriveDetails.get('hiringDriveDescription')?.invalid && (hiringDriveDetails.get('hiringDriveDescription')?.touched || hiringDriveDetails.get('hiringDriveDescription')?.dirty)">Please enter the hiring drive name</small>
        </div>
        <div class="form-group row mb-4">

          <div class="col-md-4 mt-4">
            <p><b>Select Drive Admin:</b></p>
            <select class="form-select" (change)="addAdmin($event)"id="gender1">
              <option>Select</option>
              <option *ngFor= "let user of users">{{user.name}}</option>
            </select>
        
       </div>
       <div class="col-md-4 mt-4">
        
        <p>&nbsp;</p>
        <span *ngFor=" let admin of admins">
        <input class="form-check-input" type="checkbox" (click)= "removeAdmin($event)"checked [value]="admin" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckIndeterminate">
          &nbsp;{{admin}} &nbsp;
        </label>
      </span>
       
        
       </div>
        </div>


        <form [formGroup]="contactPerson">
        <fieldset class="the-fieldset mb-5">
          <legend class="the-legend">Contact Person:</legend>
          <div class="form-group row" formArrayName="data" *ngFor="let contactDetails of getContactControls(); let i = index">
            <div [formGroupName] = "i" class="row">
 
          <div class="col-md-4">
            <label class="col-form-label">Enter Name:</label>
            <input class="form-control " formControlName="name">
            <small class="text-danger" *ngIf="contactDetails.get('name')?.invalid && (contactDetails.get('name')?.touched || contactDetails.get('name')?.dirty )">Please enter the contact person name</small>
          </div>
          <div class="col-md-4">
            <label class="col-form-label">Phone Number:</label>
            <input class="form-control " formControlName="phone_number">
            <small class="text-danger" *ngIf="contactDetails.get('phone_number')?.invalid && (contactDetails.get('phone_number')?.touched || contactDetails.get('phone_number')?.dirty)">Please enter the phone number in correct format</small>
          </div>

          <div class="col-md-4">
            <label class="col-form-label">Enter Email:</label>
            <input class="form-control " formControlName="email">
            <small class="text-danger" *ngIf="contactDetails.get('email')?.invalid && (contactDetails.get('email')?.touched || contactDetails.get('email')?.dirty)">Please enter the email properly</small>
          </div>

        </div>
      </div>
     
        <div class="row d-flex justify-content-end">
          <div class="col-md-4 d-flex justify-content-end mt-3">
            <button class="btn btn-danger" (click)="addContactPerson()">Add Contact Person</button>
          </div>
        </div>
      </fieldset>
    </form>
      
      <form [formGroup] = "hiringDriveDates">
      <fieldset class="the-fieldset">
        <legend class="the-legend">Hiring Drive Dates:</legend>
        
      <div class="form-group row mt-3" formArrayName="data" *ngFor= "let dateData of getControls(); let i = index">
        <div [formGroupName]="i" class="row">
        <div class="col-md-4" >
          <label class="col-form-label">Enter Event Name:</label>
          
          <select class="form-select" formControlName="name">
            <option *ngFor="let eventName of eventNames">{{eventName}}</option>
          </select>
          <small  class="text-danger" *ngIf="dateData.get('name')?.invalid &&  (dateData.get('name')?.touched || dateData.get('name')?.dirty)">Please enter an event name</small>
          
        </div>
        <div class="col-md-2">
          <label class="col-form-label">Select day</label>
          <input class="form-control "  value="DAY 1"   formControlName= "day">
          <small  class="text-danger" *ngIf="dateData.get('day')?.invalid && (dateData.get('day')?.touched || dateData.get('day')?.dirty )">Please enter the Day correctly</small>
         
        </div>

        <div class="col-md-3">
          <label class="col-form-label">Select DATE:</label>
          <input class="form-control " TYPE="date"  formControlName= "date">
          <small  class="text-danger" *ngIf="dateData.get('date')?.invalid && (dateData.get('date')?.touched || dateData.get('date')?.dirty)">Please enter an Date for Hiring Drive</small>
        </div>
        <div class="col-md-2">
          <label class="col-form-label">Enter Start Time</label>
          <input class="form-control " TYPE="time"  formControlName= "time"> 
          <small class="text-danger" *ngIf="dateData.get('time')?.invalid && (dateData.get('time')?.touched || dateData.get('time')?.dirty )">Please enter a starting time for Hiring Drive</small>
        </div>
        
      </div>
      </div>
    
      <div class="row d-flex justify-content-end">
        <div class="col-md-4 d-flex justify-content-end mt-3">
          <button class="btn btn-danger" (click) = "addDate()">Add Another Date</button>
          <div>&nbsp;</div>
    
        </div>
      </div>
    </fieldset>
  </form>

          
      </div>
  </form>
  <button class="btn btn-danger mt-3" [disabled]="hiringDriveDates.invalid && contactPerson.invalid && hiringDriveDetails.invalid "(click) = "saveHiringDrive()">Save Hiring Drive</button>
</div>