<!-- <div class="sidenav">
    <div class="login-main-text">
        <img src="https://www.watchguardservices.co.uk/images/logo/watchguard-logo-shard.png">
       <h2>WatchGuard Technologies<br></h2>
       <h4>Hiring Drive Management Tool</h4>
       <p>Login or register from here to access.</p>
    </div>
 </div>
 <div class="main">
    <div class="col-md-6  ">
       <div class="login-form ">
          <form [formGroup]= "loginForm" (ngSubmit) ="onSubmit()" >
             <div class="form-group ">
                <label>User Name</label>
                <input 
                type="text" 
                class="form-control m-auto" 
                placeholder="User Name"
                formControlName="username">
             </div>
             <small class="text-danger"
             *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched"
             >Please enter the email in correct format</small>

             <div *ngIf="">HHSHSH</div>
             <div class="form-group mt-3">
                <label>Password</label>
                <input 
                type="password" 
                class="form-control m-auto" 
                placeholder="Password"
                formControlName="password">
             </div>
             <small class="text-danger"
             *ngIf="!loginForm.get('password')?.valid &&  loginForm.get('password')?.touched">
             Please enter the password in the correct format with minimum 8 characters, both upper case and lower case, special character and number</small>
             <br>
             <button type="" class="btn btn-black m-2" [disabled] = "!loginForm.valid">Login</button>
             <button type="" class="btn btn-black m-2">Register</button>
          </form>
       </div>
    </div>
 </div> -->