<app-navbar></app-navbar>
<div id="wrapper">
<app-sidebar></app-sidebar>
<div class="container-fluid pt-2 ">
    <div class="row pt-2 d-flex justify-content-between mb-5">
        <div class="col-md-12 mt-3"></div>
  
          <div class="col-md-12 mt-4"></div>
          <div class="col-md-6 mt-5">
                  <h3>{{drive_name}}</h3>
          </div>
          <div class="col-sm-5 mt-5 d-flex justify-content-center">
            <b>Select Drive </b>
            <select class="form-select form-select-lg "  (change) = "xyz($event)" aria-label=".form-select-lg example">
              <option disabled>Select the University</option>
            <option [selected]="drive_name == hiringDriveNameandId.drive_title ? true : false" [value]="hiringDriveNameandId.drive_id+'#'+ hiringDriveNameandId.drive_title" *ngFor="let hiringDriveNameandId of hiringDriveNamesAndId ">{{hiringDriveNameandId.drive_title}}</option>
            </select>
           
          </div>
          
  </div>

  <div class="row pt-5 d-flex justify-content-between">

    <div class="col-md-4">
      <form class="form-inline" style="margin-top: 10px;">
        <div class="input-group">
            <input type="text" class="form-control " id="search" placeholder="Please Enter your search term here" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
            <span class="input-group-btn "><button type="submit" style="background-color: rgb(232, 20, 16);" class="btn btn-danger search-btn" data-target="#search-form" name="q"><i class="fa fa-search"><!--FONT AWESOME font @ "http://fortawesome.github.io/Font-Awesome/" --></i>
            </button></span>
          </div>
        </form>
    </div>
    <div class = "col-md-6 d-flex justify-content-center">

        
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color: rgb(232, 20, 16); border-radius: 2rem;" (click) = "listAdminsAndUsersFunction()" >Select / Add Panelist</button>  
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Panelist</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                   
                    
                     
                     
                      <label>Select Panelist: </label>
                      <select class="form-select " (change) = "selectPanelist($event)"  aria-label="Default select example">
                        <option selected>Select a Panelist</option>
                        <option *ngFor="let listAdminsAndUser of listAdminsAndUsers; let i = index" [value]="i">{{listAdminsAndUser.name}} </option>
                      </select>
                      <form [formGroup] = "emailAndPhoneForm">
                      <span *ngIf="display">
                      <label> Email:</label>
                      <input class="form-control" formControlName="email">

                      <label>Phone Number:</label>
                      <input class="form-control" formControlName="phone_number">
                    </span>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)= "savePanelist()">Save changes</button>
                </div>
              </div>
            </div>
          </div>

    </div>


  </div>

  <div class="row  mx-1 pt-5">

    <table class="table table-sm table-hover" *ngIf="!loading">
      <thead>
        <tr>
          <th scope="col" class="text-center"> Name</th>
          <th scope="col" class="text-center">Phone Number</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center" *ngFor="let driveEvent of driveEvents; let i = index">Availability</th>
        
          
          

          
        </tr>
      </thead>
      <tbody >
        <tr >
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td  class="text-center" *ngFor="let driveEvent of driveEvents">{{driveEvent.date}}</td>
         
         
        </tr>
        <tr  *ngFor=" let panelist of panelistData; let j = index">
           
            <th scope="row" class="text-center">  {{panelist.person_name}}</th>
            <td class="text-center"> {{panelist.phone_number}}</td>
            <td class="text-center">{{panelist.email}}</td>
            <td class="text-center" *ngFor="let driveEvent of driveEvents; index as i ">
              <span *ngIf="panelist.availability[i] !='Select'">{{panelist.availability[i]}}</span>
            
              <select class="form-select"  [id]="driveEvent.date+panelist.email" *ngIf="panelist.availability[i] == 'Select'" (change)="abc($event)" aria-label=".form-select-lg example">
                <option >Select Availability</option>
                <option [value]="1+''+j" [class] = "driveEvent.date">Yes</option>
                <option [value]="2+''+j">No </option>
          
              </select>
              

            </td>
            
           
           
          </tr>
         
       
      </tbody>
    </table>
    <app-loader *ngIf="loading"></app-loader>
  
  
  </div>
    
</div>

