.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 1rem;
}

input,textarea{
    border-radius: 2rem;
  resize: none;
}
input:focus{
    background-color: rgb(243, 242, 242);


box-shadow:  none;
}
textarea:focus{
    background-color: rgb(243, 242, 242);
    box-shadow: none;
}
select{
    border-radius: 2rem;
}
button{
    border-radius: 2rem;
}