<app-navbar></app-navbar>
<div id="wrapper">
<app-sidebar></app-sidebar>
<div class="container-fluid pt-2 ">
    <div class="row pt-2 d-flex justify-content-between mb-5">
        <div class="col-md-12 mt-3"></div>
  
          <div class="col-md-12 mt-4"></div>
          <div class="col-md-6 mt-5">
                  <h3> {{drive_name}}</h3>
          </div>
          <div class="col-sm-5 mt-5 d-flex justify-content-center">
            <b>Select Drive </b>
            <select class="form-select form-select-lg  " (change) = "abc($event)" aria-label=".form-select-lg example">
              <option disabled>Select the University</option>
              <option [selected]="drive_name == hiringDriveNameandId.drive_title ? true : false" [value]="hiringDriveNameandId.drive_id+'#'+ hiringDriveNameandId.drive_title" *ngFor="let hiringDriveNameandId of hiringDriveNamesAndId ">{{hiringDriveNameandId.drive_title}}</option>
           
            </select>
           
          </div>
          
  </div>

  <div class="row pt-5 d-flex justify-content-between">

    <div class="col-md-4">
      <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control " id="search" (keyup) ="valueChange($event)" placeholder="Please Enter your search term here" aria-label="Recipient's username" aria-describedby="basic-addon2">
          
            <span class="input-group-btn"><button type="submit" style="background-color: rgb(232, 20, 16);" class="btn btn-danger search-btn" data-target="#search-form" name="q"><i class="fa fa-search"><!--FONT AWESOME font @ "http://fortawesome.github.io/Font-Awesome/" --></i>
            </button></span>
          </div>
        </form>
    </div>
    <div class = "col-md-6 d-flex justify-content-center">

        <input type="file"  class="form-control-file" (change) = "selectedFile($event)"> 
        <button class="btn btn-danger" (click) = "uploadFile()" style="background-color: rgb(232, 20, 16); border-radius: 2rem;">Upload</button>  

    </div>


  </div>

  <div class="row  mx-1 pt-5">

    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col" style="border-top-left-radius: 10px; padding-left: 10px" class="text-center">Candidate Name</th>
          <th scope="col" class="text-center">Email</th>
          <th scope="col" class="text-center">Role Number</th>
          <th scope="col" class="text-center">Graduation Year</th>
          <th scope="col" class="text-center">Phone Number</th>
          <th scope="col" class="text-center">Panel</th>
          <th scope="col" class="text-center">Interview Date</th>
          <th scope="col" class="text-center">Interview Time</th>
          <th scope="col" class="text-center">Selection Status</th>
          <th scope="col" style="border-top-right-radius: 10px; " class="text-center">Feedback</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor= "let candidateDetail of candidateDetails;">
          <th class="text-center" scope="row">{{candidateDetail.candidate_name}}</th>
          <td class="text-center">{{candidateDetail.email}}</td>
          <td class="text-center">{{candidateDetail.roll_no}}</td>
          <td class="text-center">{{candidateDetail.graduation_year}}</td>
          <td class="text-center">{{candidateDetail.phone_number}}</td>
          <td class="text-center"> {{candidateDetail.panel}}</td>
          <td class="text-center">{{candidateDetail.interview_date}}</td>
          <td class="text-center">{{candidateDetail.interview_time}}</td>
          <td class="text-center">{{candidateDetail.status}}</td>
          <td class="text-center">{{candidateDetail.feedback}}</td>
        </tr>
       
      </tbody>
    </table>
  
  
  </div>
    
</div>

